3.indicator-LOANED {
  background-color: rgba(240, 0, 0, 1);
  border: 0px;
  border-radius: 50px;
  overflow: hidden;
  padding: 10px;
}

.indicator-AVALIABLE {
  background-color: rgba(0, 190, 0, 1);
  border: 0px;
  border-radius: 50px;
  overflow: hidden;
  padding: 10px;
}

.bookCover {
  width: 100%;
  height: 100%;
  height: 20rem;
  /*Final Image Height Wrong*/
}

.index-Card-Btn {
  padding: 0 !important;
  height: 26rem;
}

.index-dropdown-btn {
  opacity: 0.56;
}

.dropdown-MainCss {
  align: left;
}

.bookRegistration-Input-Numbers {
  text-align: center;
}

.bookRegistration-Alerts {
  margin-top:12px;
}

.userSettings-Checkbox-Text {
  margin-left: 7px;
}

.userSettings-Checkbox-Save {
  margin-top: 12px;
}

.div-showme {
  display: none;
  z-index: 2 !important;
  position: fixed;
}

.div-showhim:hover .div-showhim {
  display: block;
}

#cookie-popup .modal-dialog{
  position:fixed;
  bottom:0px;
  right:0px;
  margin:0px;
}
