<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <div th:replace="fragments/general.html :: head"></div>
    <title>Redigera bok</title>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/webjars/js-cookie/2.2.0/js.cookie.js"></script>
    <script src="/webjars/popper.js/1.14.4/popper.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/master.css}" href="../resources/static/css/master.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  </head>
  <body>
    <div th:replace="fragments/general :: header"></div>
    <h1 class="col-sm-12">ISBN: <span th:text="${isbn}">00000000000</span></h1>
    <div class="book col-sm-12">
      <form th:object="${updateBookDto}" method="post" th:action="'/book/'+${isbn}+'/edit/'">
        <p>
          <label class="col-sm-1" for="title">Titel: </label>
          <input class="col-sm-4" th:field="*{title}" type="text">
        </p>
        <p>
          <label class="col-sm-1" for="description">Beskrivning: </label>
          <textarea class="col-sm-4" th:field="*{description}" type="textbox"></textarea>
        </p>
        <p>
          <label class="col-sm-1" for="authors">Författare: </label>
          <input class="col-sm-4" th:field="*{authors}" type="text" id="authors" name="" value="">
        </p>
        <p>
          <label class="col-sm-1" for="language">Språk: </label>
          <input class="col-sm-4" th:field="*{language}" type="text" id="language" name="" value="">
        </p>
        <p>
          <label class="col-sm-1" for="image">Bild URL: </label>
          <input class="col-sm-4" th:field="*{image}" type="text" id="image" name="" value="">
        </p>
        <input class="col-sm-2 btn btn-outline-primary" type="submit" name="" value="Uppdatera bok">
      </form>
    </div>
  </body>
  <div th:replace="fragments/general.html :: footer"></div>
</html>
