<!DOCTYPE html>
<html>
  <head th:fragment="head" th:remove="tag">
    <meta name="charset" content="utf8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/webjars/js-cookie/2.2.0/js.cookie.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/master.css">
  </head>
  <body>
    <div th:fragment="header">
      <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
          <a class="navbar-brand col-" th:href="@{/}" href="index.html">
            <img class="mb-2" src="../static/images/favicon.png" alt="" width="36" height="36">
            <h5 class="p-2 my-0 mr-md-auto font-weight-normal navbar-brand text-dark" th:href="@{/}" href="index.html">SSIS Bibliotek</h5>
          </a>
          <div class="col-10"></div>
          <div class="dropdown col-">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">=</button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="p-2 text-dark dropdown-item" sec:authorize="isAuthenticated()" href="#">Profil</a>
              <a class="p-2 text-dark dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')" href="#">Administratör</a>
              <a class="p-2 text-dark dropdown-item" href="#">Slumpmässig bok</a>
              <div class="dropdown-divider"></div>
              <a class="p-2 text-dark dropdown-item" sec:authorize="isAuthenticated()" href="#">Logga ut</a>
              <a class="p-2 text-dark dropdown-item" sec:authorize="isAuthenticated() == false" th:href="@{/oauth2/authorization/google}" href="#">Logga in</a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <footer class="container-fluid pt-4 my-md-5 pt-md-5 border-top" th:fragment="footer">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">Programed by Movitz S TE18D</small>
          <small class="d-block mb-3 text-muted">Designed by Osacr F TE18D</small>
        </div>
      </div>
    </footer>
  </body>
</html>
