<!DOCTYPE html>
<html>
  <head th:fragment="head" th:remove="tag">
    <meta name="charset" content="utf8">
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/webjars/js-cookie/2.2.0/js.cookie.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <header th:fragment="header">
      <h1>SSIS Bibliotek</h1>
      <nav>
        <ol>
          <li><a th:href="@{/}">Hem</a></li>
          <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/user}">Profil</a></li>
          <li sec:authorize="hasRole('ROLE_ADMIN')"> <a href="#">Administratör</a> </li>
        </ol>
        <a sec:authorize="isAuthenticated() == false" th:href="@{/oauth2/authorization/google}" href="#">Logga in</a>
        <button sec:authorize="isAuthenticated()" type="button" name="button" id="logout">Logga ut</button>
      </nav>
    </header>
    <footer>
      <p>Jag är en footer.</p>
    </footer>
  </body>
</html>
