<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <div th:replace="fragments/general.html :: head"></div>
    <title th:text="${book.title}">Boktitel</title>
    <meta property="og:title" data-th-attr="content=${book.title}" content="Book title" />
    <meta property="og:type" content="book" />
    <meta property="og:image" data-th-attr="content=${book.image}" content="" />
    <meta property="book:isbn" data-th-attr="content=${book.isbn}" content="">

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/webjars/js-cookie/2.2.0/js.cookie.js"></script>
    <script src="/webjars/popper.js/1.14.4/popper.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/master.css}" href="../resources/static/css/master.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  </head>
  <body>
    <div th:replace="fragments/general :: header"></div>
    <div class="container">
      <div class="d-flex flex-column flex-md-row align-items-center mb-3 bg-white box-shadow">
      <nav class="mr-md-1">
        <a class="btn btn-outline-primary" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{edit}" href="editbook.html">Redigera bok</a>
        <a class="btn btn-outline-primary" href="#" th:href="@{'/loan/'+${book.isbn}}" sec:authorize="hasRole('ROLE_USER')">Låna bok</a>
        <a class="btn btn-outline-primary" href="#" sec:authorize="hasRole('ROLE_USER')">Återlämna bok</a>
      </nav>
      <a  class="btn btn-outline-primary float-right" href="#"  sec:authorize="hasRole('ROLE_USER')">Prenumerera</a>
    </div>
    <div class="book">
      <img class="bookCover" th:src="${book.image}" src="http://books.google.com/books/content?id=SJnHBAAAQBAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" alt="Book cover">
      <h1 th:text="${book.title}">Bok titel</h1>
      <h2>Skriven av: <span th:text="${book.authors}">Namn Efternamn</span></h2>
      <p>
        <h3>Betyg av skolans elever: <span >0</span>/5</h3>
      </p>
      <p>
        <div th:switch="${status}">
          <span th:case="'AVALIABLE'" class="indicator-AVALIABLE">Status: Tillgänglig</span>
          <span th:case="'LOANED'" class="indicator-LOANED">Status: Lånad</span>
        </div>
      </p>
        <p><h3><b>Beskrivning</b></h3>
          <p th:text="${book.description}">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </p>
      </div>
    </div>
      <div class="container">
        <form sec:authorize="isAuthenticated()" th:action="@{'/book/'+${book.isbn}+'/comment/'}" method="post" th:object="${commentDto}">
          <h4>Skriv en komentar om boken här!</h3>
          <textarea class="col-sm-7" th:attribute="*{content}" name="content" rows="4" cols="80"></textarea>
          <div>
            <input class="col-sm-3 btn btn-outline-primary" type="submit" name="" value="Komentera">
          </div>
        </form>
      </div>
      <p class="container border-bottom">Komentarer</p>
      <div class="container" th:each="comment : ${book.comments}">
        <p th:text="${comment.author.givenName}">username</p>
        <p th:text="${comment.content}">content</p>
      </div>
    <div th:replace="fragments/general.html :: footer"></div>
  </body>
</html>
