<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <div th:replace="fragments/general.html :: head"></div>
    <title th:text="${book.title}">Boktitel</title>
    <meta property="og:title" data-th-attr="content=${book.title}" content="Book title" />
    <meta property="og:type" content="book" />
    <meta property="og:image" data-th-attr="content=${book.image}" content="" />
    <meta property="book:isbn" data-th-attr="content=${book.isbn}" content="">
  </head>
  <body>
    <div th:replace="fragments/general :: header"></div>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{edit}" href="editbook.html">Redigera bok</a>
    <a href="#" th:href="@{loan}" sec:authorize="hasRole('ROLE_USER')">Låna bok</a>
    <div class="book">
      <img th:src="${book.image}" src="http://books.google.com/books/content?id=SJnHBAAAQBAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" alt="Book cover">
      <h1 th:text="${book.title}">Bok titel</h1>
      <h2>Skriven av: <span th:text="${book.authors}">Namn Efternamn</span></h2>
      <p>
        <p th:text="${status}"></p>
        <div th:switch="${status}">
          <span th:case="'AVALIABLE'">Status: tillgänglig</span>
          <span th:case="'LOANED'">Status: lånad</span>
        </div>
      </p>
      <p><h3><b>Beskrivning</b></h3>
        <p th:text="${book.description}">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </p>
    </div>

    <form class="" sec:authorize="isAuthenticated()" th:action="@{'/book/'+${book.isbn}+'/comment/'}" method="post" th:object="${commentDto}">
      <textarea th:attribute="*{content}" name="content" rows="8" cols="80"></textarea>
      <input type="submit" name="" value="">
    </form>

    <div class="" th:each="comment : ${book.comments}">
      <p th:text="${comment.author.givenName}">username</p>
      <p th:text="${comment.content}">content</p>
    </div>

  </body>
  <div th:replace="fragments/general.html :: footer"></div>
</html>
