  <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:replace="fragments/general.html :: head">
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    .book {
      width: 20%;
      flex-shrink: 0;
      margin-left: 20px;
      flex-wrap: wrap;
    }
    .book img {
      width: 100%;
    }

    #books {
      display: flex;
    }
  </style>
  <body>
    <header th:replace="fragments/general.html :: header"></header>
    <h1>Böcker</h1>
    <div id="books">
      <div class="book" th:each="book : ${books}">
        <img th:src="${book.image}" src="" alt="Book cover">
        <a th:text="${book.title}" th:href="@{'/book/'+${book.isbn}}">Bok titel</a>
      </div>
    </div>
    <div th:replace="fragments/general.html :: footer"></div>
  </body>
</html>
