<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <div th:replace="fragments/general.html :: head"></div>
  <title th:text="'Låna '+${book.title}">Låna boktitel</title>
</head>

<body>
  <header th:replace="fragments/general.html :: header"></header>

  <h1>är du säker på att du vill låna denna bok?</h1>

  <form class="" method="post">
    <input type="hidden" name="" th:field="*{isbn}" th:value="${book.isbn}">
    <select class="" name="">
      <option value="" disabled>Välj ett bok-id</option>
      <option th:each="b : ${books}" th:value="${b.bookId}" th:text="${b.bookId}"></option>
    </select>
  </form>
  <p>recaptcha</p>
  <div th:replace="fragments/general.html :: footer"></div>
</body>
</html>
