<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <div th:replace="fragments/general.html :: head"></div>
  <title th:text="'Låna '+${book.title}">Låna boktitel</title>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
  <header th:replace="fragments/general.html :: header"></header>

  <h1>är du säker på att du vill låna denna bok?</h1>

  <form class="" th:action="@{/loan}" method="post" th:object="${loanBookDto}">
    <select class="" name="" th:field="*{bookId}">
      <option value="" disabled selected>Välj bok-id</option>
      <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.id}"></option>
    </select>
    <input type="submit" name="" value="Låna">
    <div class="g-recaptcha" th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
  </form>
  <div th:replace="fragments/general.html :: footer"></div>
</body>
</html>
